body{
  background: : #ffffff;
  font-family: 'open Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}
h3,h5{
  font-weight: 500;
}
h1{
  font-size: 45px;
  letter-spacing: 2px;
}
h2{
  font-size:30px;
  text-transform:uppercase;
}
h3{
  line-height: 36px;
}
h4{
  font-size:30px;
}
